<p>
  <i class="fab fa-angular fa-lg"></i> DEMO-Table Sorting!  
</p>
<hr>

<div class="container-fluid">

    <div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" appMyColsort direct={{colDirections[0]}} (click)="onSort(fns[0])">{{hfs[0]}} </th>
            <th scope="col" appMyColsort direct={{colDirections[1]}} (click)="onSort(fns[1])">{{hfs[1]}} </th>
            <th scope="col" appMyColsort direct={{colDirections[2]}} (click)="onSort(fns[2])">{{hfs[2]}} </th>
            <th scope="col">{{hfs[3]}}</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let e of empls" >
            <td scope="row">{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.age}}</td>
            <td>{{e.joinedDate | date: 'dd-MM-yyyy'}}</td>
          </tr>
        </tbody>
      </table>

    </div>
 </div>
